/* table {
    width: 600px;
    border-collapse: collapse;
    border-color: red;

}
tr{
height: 30px; 
}
td{
    height 30px
}
#table-header{
    background-color: yellow;
    text-align: center;
}  */
table{
    width: 800px;
    border-collapse: collapse;
}
tr{
    height: 100px;
}

#table-header{
    background-color: black;
    text-align:center ;
}