.rounded-circle {
    border-radius: 50% !important;
    max-width: 100%;
    height: auto;
    vertical-align: top;
}
.image-8x{
    width: 200px;
    height: 200px;
}
.image-350{
    width: 500px;
    height: 500px;
}
/* img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
} */

.sub-info{
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #004975;
}

.display-30 {
    font-size: 0.9rem;
}