
.register-background {
    background-image: url('../layouts/pic1.jpg');
}

.register-background-h1 {
    color: #d51b34 !important;
}

.form-label {
    color: rgb(243, 9, 204) !important;
    font-weight: bold;
}

.login-background {
    background-image: url('../layouts/mp3.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

#neubar {
    background: #fae8d2;
    box-shadow: 4px 6px 12px rgba(15, 33, 202, 0.4)
}

.nav-item .active {
    border-radius: 6px;
    background: linear-gradient(145deg, #ffe7ca, #f5d7b2);
    box-shadow: 4px 4px 8px #ddc1a0,
        -4px -4px 8px #f7e5cc;
}

#neubar .dropdown-menu a:hover {
    color: #454545
}

#neubar .nav-item {
    margin: auto 4px;
}

#neubar a {

    padding-left: 12px;
    padding-right: 12px;
}

#neubar .dropdown-menu {
    background: #545454
}

a.navbar-brand {
    color: #454545
}

.background-home{
    background-image: url('../layouts/1031_5.jpg');
    background-repeat: no-repeat;
    background-size: 100%;   
}
.products-background {
    background-image: url('../layouts/bg1.jpg');
    background-repeat: no-repeat;
    background-size: 100%;   
}

.table-title {
    padding-bottom: 15px;
    background: #435d7d;
    color: #fff;
    padding: 16px 30px;
    min-width: 100%;
    border-radius: 3px 3px 0 0;
}
.edit-background {
    background-image: url('../layouts/mp4.jpg');
    background-repeat: no-repeat;
    background-size: 100%;   
}
.create-background {
    background-image: url('../layouts/mp6.jpg');
    background-repeat: no-repeat;
    background-size: 100%;   
}
